.ui.labeled.vertical.icon.inverted.blue.menu
  %a.red.item{:href => dashboard_index_path}
    %i.dashboard.icon
    Dashboard

  - menu_items = RegistrationStep.all.order(:position) || []
  - menu_items.each do |reg_step|
    %a.disabled.item{:href => reg_step[:href]}
      %i{class: reg_step[:icon] + " icon"}
      = reg_step[:name]
